<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<body>

<div class="testimonials">
  <div class="inner">
    <h1>Testimonios</h1>

    <div class="imgrow">
      <img src='./assets/parking.jpg'>
    </div>

    <div class="border"></div>

    <div class="row">
      <div class="col">
        <div class="testimonial">
          <img src='./assets/p1.png' alt="">
          <div class="name">John Casillas</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>

          <p>
             Quedé encantado con el servicio de estacionamiento. Muy buenos precios, buen cuidado del local y puedo sentirme seguro de dejar mi carro aquí, realmente lo recomiendo mucho!
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src='./assets/p2.png' alt="">
          <div class="name">Ana Rodriguez</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>

          <p>
            Dejé mi vehículo y no tuve problemas. Sin embargo, tienen que mejorar la limpieza del local, la presentación es importante también y el estacionamiento no es agradable a la vista del cliente.
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial">
          <img src='./assets/p3.png' alt="">
          <div class="name">Rocio Bernal</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>

          <p>
            Me gustó que pueda confiar mi vehículo en este estacionamiento. Me gustó todo y creo que se podría mejorar la atención al cliente, de esta manera uno se siente mas a gusto con el servicio que le brindan.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
