<div class="modal">
  <div class="modal-content">

    <div class="card">

      <div class=" profile ">
        <h1 class="card-title"><b>¿Esta seguro que desea realizar esta reserva? </b></h1>
        <p class="card-text">
          Tome en cuenta que la reserva solo espera 10 min como
          maximo en caso de no llegar a tiempo se cancelara su reserva
        </p>
      </div>



    <div class=" center-button ">
      <button class = "boton-personalizado" (click) ="openModal()">Aceptar</button>
      <div class = "" *ngIf ="modalSwitch == true">
        <app-modal-reservation></app-modal-reservation>
      </div>
    </div>


      <div class=" center-button ">
        <button class=" boton-personalizado" (click)="closeModal()">Cancelar</button>
      </div>
       </div>


  </div>
</div>
