<!-- parking-card.component.html -->

<div class="parking-card">
  <img [src]="parking.imageUrl" alt="Parking Image" style="width: 300px; height: 200px;">

  <h3>{{ parking.nombre }}</h3>
  <p>Tarifa: {{ parking.tarifa }}</p>
  <p>Estrellas: {{ parking.estrellas }}</p>
  <p>{{ parking.descripcion }}</p>

  <div class="  seccion">
    <mat-form-field class="form">
      <mat-select placeholder="Select available time">
        <mat-option *ngFor="let time of times" [value]="time.value">
          {{time.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <button class = "boton-personalizado" (click) ="openModal()">RESERVE</button>
    <div class = "" *ngIf ="modalSwitch == true">
      <app-modal></app-modal>
    </div>

  </div>
</div>
