<h1 style="text-align: center; font-size: 34px">Estacionamientos recomendados</h1>
<br>

<div class="topparkings-container">
  <mat-card class="parking-card">
    <mat-card-header>
      <mat-card-title>Los Portales, Av. Alvarez Calderón 180, San Isidro 15073 </mat-card-title>

    </mat-card-header>
    <img mat-card-image src="assets/parking2.jpg" width="340px" height="340px" style="  display: block;
  margin-left: auto;
  margin-right: auto;">
    <mat-card-content>
      <br>
      <mat-card-subtitle>
        <img src="./assets/verified.png" style="padding: 14px">
        <img src="./assets/car.png" style="padding: 14px">
        <img src="./assets/bike1.png" style="padding: 14px">
        <img src="./assets/bike2.png" style="padding: 14px">
        <br>
        100 Espacios de estacionamiento, Camaras de vigilancia que se encargan de vigilar la playa de estacionamiento. Además, cuenta con servicio de car wash. El costo es de S/7 por hora.
      </mat-card-subtitle>
    </mat-card-content>
    <mat-card-footer>
      <br>
      <button mat-raised-button color="warn" style="margin-left: 15%">
        Reservar
      </button>
      <button mat-raised-button color="warn" style="margin-left: 15%" (click)="clickReview()">
        Reseñas
      </button>
    </mat-card-footer>
  </mat-card>

  <mat-card class="parking-card">
    <mat-card-header>
      <mat-card-title>Estacionamiento Caral,Rivera Navarrete, San Isidro </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/park1.jpg" width="340px" height="340px" style="  display: block;
  margin-left: auto;
  margin-right: auto;">
    <mat-card-content>
      <br>
      <img src="./assets/verified.png" style="padding: 14px">
      <img src="./assets/car.png" style="padding: 14px">
      <img src="./assets/bike1.png" style="padding: 14px">
      <mat-card-subtitle> Más de 200 espacios de estacionamiento disponibles, Camaras de seguridad y vigilantes que se encargan de patrullar. El costo de estacionamiento por hora es de 6 soles/Hora</mat-card-subtitle>
    </mat-card-content>
    <mat-card-footer>
      <br>
      <button mat-raised-button color="warn" style="margin-left: 15%">
        Reservar
      </button>
      <button mat-raised-button color="warn" style="margin-left: 15%" (click)="clickReview()">
        Reseñas
      </button>
    </mat-card-footer>
  </mat-card>

  <mat-card class="parking-card">
    <mat-card-header>
      <mat-card-title>Estacionamiento Caral,Rivera Navarrete, San Isidro </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/parking3.jpg" width="340px" height="340px" style="  display: block;
  margin-left: auto;
  margin-right: auto;">
    <mat-card-content>
      <br>
      <img src="./assets/verified.png" style="padding: 14px">
      <img src="./assets/car.png" style="padding: 14px">
      <mat-card-subtitle> Cuenta con 50 espacios de estacionamiento. Guardia de seguridad que patrulla la playa de estacionamiento. Se entrega ticket de estacionamiento. El costo por hora es de S/8</mat-card-subtitle>
    </mat-card-content>
    <mat-card-footer>
      <br>
      <button mat-raised-button color="warn" style="margin-left: 15%">
        Reservar
      </button>
      <button mat-raised-button color="warn" style="margin-left: 15%" (click)="clickReview()">
        Reseñas
      </button>
    </mat-card-footer>
  </mat-card>
</div>
