.boton-personalizado:hover {
    background-color: #919191;
}
.boton-personalizado {
    background-color: #cecece;
    color: #000000;
    font-size: 25px;
    padding: 20px 100px;
    cursor: pointer;
    border: 2px solid #000000;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 10px;
}
