.margen {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 40px;
}

.profile {
  float: left;
  text-align: center; /* Centra el texto horizontalmente */
}

.rounded-image {
  border-radius: 20px;
}

.right {
  float: right;

}
.left {
  float: left;
}

.container {
  display: flex;
  justify-content: center;
}

.image {
  margin: 0 10px;
}

.card {
  border: 3px solid #000000;
  border-radius: 20px;
  margin: auto;
  padding: 25px;
}

.card-title {
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.card-text {
  font-size: 1.5rem;

}

.boton-personalizado {
  background-color: #76ee69;
  font-size: 20px;
  padding: 15px 35px;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 10px;

}

.image_star{
  margin-left: 20px;
  margin-bottom: 20px;
}

.space {
  margin-right: 20px;

}




.contain {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button {
  margin: 10px;
  text-align: center;
}
