
<div class = "margen">
  <div class = "profile">
    <img class="rounded-image" [src]="perfil" alt="home" width="150" height="150">
    <p> Marcos Ramirez Ojeda <br> Nissa Model XI </p>
  </div>

  <div class="right card ">
    <div class="left profile space">
      <h1 class="card-title"><b>Parking Armix </b></h1>
      <p class="card-text">
        Actual distance: 25mts <br><br>
        Slot Available: 10 slots <br><br>
        Hours: check available time
      </p>
    </div>

    <div class="right ">
      <img class="" [src]="estacionamiento" alt="estacionamiento" width="300" height="200">
      <div class="container ">
        <img class="image" [src]="star_black" alt="star" width="30" height="30">
        <img class="image" [src]="star" alt="star" width="30" height="30">
        <img class="image" [src]="star" alt="star" width="30" height="30">
        <img class="image" [src]="star" alt="star" width="30" height="30">
        <img class="image" [src]="star" alt="star" width="30" height="30">
      </div>



    </div>

    <div class="  seccion">
      <mat-form-field class="form">
        <mat-select placeholder="Select available time">
          <mat-option *ngFor="let time of times" [value]="time.value">
            {{time.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <button class = "boton-personalizado" (click) ="openModal()">RESERVE</button>
     <div class = "" *ngIf ="modalSwitch == true">

     </div>


    </div>

  </div>

  <div class=" contain ">
      <div class="button">
        <button class="boton-personalizado"  (click)="clickHome()">BACK</button>
      </div>
      <div class="button">
        <button class="boton-personalizado"  (click)="clickMap()">SEE MAP</button>
      </div>
      <div class="button">
        <button class="boton-personalizado"  (click)="onClick()">NEXT PARKING LOT</button>
      </div>
  </div>

</div>




