<div class = "margen">
  <div class = "profile">
    <img class="rounded-image" [src]="perfil" alt="home" width="150" height="150">
    <p> Marcos Ramirez Ojeda <br> Nissa Model XI </p>
  </div>



  <div class = "">

    <app-parking-card *ngIf="parking" [parking]="parking"></app-parking-card>
    <button (click)="nextParking()">Siguiente Estacionamiento</button>
  </div>

  <div class="">
    <button class="boton-personalizado"  (click)="clickHome()">BACK</button>
    <button class="boton-personalizado"  (click)="clickMap()">SEE MAP</button>
  </div>
</div>
